.main_div_class h3{
font-size: 40px;
font-weight: 400;
margin: 20px 0px 0px 0px;
}

.main_data_div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px 0px 0px 40px;
}
